<?php $this->partial("layouts/admin_layout/header"); ?>

<script>
    function goToList() {
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/load";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
        FormLoadByUrlJson(url,"formData");
//        $.get(url, function (data) {
//            ROW = data;
//            FormLoadByData(data,"formData");
//            onchangeCategory("#id_kategori","#id_vendor");
//        }, 'json');
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            goToList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            kategori_kegiatan: {
                required: true
            },
            nama: {
                required: true
            }
        },
        messages: {
            kategori_kegiatan: {
                required: "Please select a Category"
            },
            nama: {
                required: "Please enter a Name"
            }
        }
    };
    var optionsForm = {
        dataType:  'json',
        beforeSubmit:  showRequest,
        success: showResponse
    };
    function submitForm(){
        $("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
//    function onchangeCategory(cmp,destination){
//        onchangeLocation('get_vendor?id_kategori=',cmp,destination,ROW.id_vendor);
//    }
    $(document).ready(function () {
        $('#menu_produk').attr('class', 'active open');
        $('#sub_menu_kat').attr('class', 'active open');
//            $(":input").inputmask();
        loadForm();
    });
</script>
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> Line Inputs <?php echo $pageName; ?></span>
        </div>
        <!--            <div class="actions">-->
        <!--                <div class="btn-group">-->
        <!--                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions-->
        <!--                        <i class="fa fa-angle-down"></i>-->
        <!--                    </a>-->
        <!--                    <ul class="dropdown-menu pull-right">-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;">-->
        <!--                                <i class="fa fa-pencil"></i> Edit </a>-->
        <!--                        </li>-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;">-->
        <!--                                <i class="fa fa-trash-o"></i> Delete </a>-->
        <!--                        </li>-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;">-->
        <!--                                <i class="fa fa-ban"></i> Ban </a>-->
        <!--                        </li>-->
        <!--                        <li class="divider"></li>-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;"> Make admin </a>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
    <div class="portlet-body form">
        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
            <div class="form-body">
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Name</label>
                    <input type="hidden" id="id" name="id">
                    <input type="text" data-role="text" class="form-control" id="nama" name="nama" placeholder="Enter your name">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Category</label>
                    <select class="form-control" id="kategori_kegiatan" name="kategori_kegiatan">
                        <option value="">Please select</option>
                        <option value="Target">Target</option>
                        <option value="Lomba">Lomba</option>
                    </select>
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Location</label>
                    <input type="text" data-role="text" class="form-control" id="lokasi" name="lokasi" placeholder="Enter your Location">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Description</label>
                    <textarea type="text" data-role="text" class="form-control" id="deskripsi" name="deskripsi" placeholder="Enter your Deskription"></textarea>
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Status</label>
                    <input type="text" data-role="text" class="form-control" id="status" name="status" placeholder="Enter your Status">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>

            </div>
            <div class="form-actions noborder">
                <button type="button" class="btn blue" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                <button type="button" class="btn default" onclick="goToList()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->


<?php $this->partial("layouts/admin_layout/footer"); ?>
