<?php $this->partial("layouts/admin_layout/header"); ?>

<script>
    function goToList() {
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/load";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
//        FormLoadByUrlJson(url,"formData");
        $.get(url, function (data) {
            ROW = data;
            FormLoadByData(data,"formData");
            onchangeCategory("#id_kategori","#id_vendor");
        }, 'json');
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            goToList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            id_kategori: {
                required: true
            },
            id_vendor: {
                required: true
            },
            nama: {
                required: true
            }
        },
        messages: {
            id_kategori: {
                required: "Please select a Category"
            },
            id_vendor: {
                required: "Please select a Vendor"
            },
            nama: {
                required: "Please enter a Name"
            }
        }
    };
    var optionsForm = {
        dataType:  'json',
        beforeSubmit:  showRequest,
        success: showResponse
    };
    function submitForm(){
        $("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
    function onchangeCategory(cmp,destination){
        onchangeLocation('get_vendor?id_kategori=',cmp,destination,ROW.id_vendor);
    }
    $(document).ready(function () {
        $('#menu_produk').attr('class', 'active open');
        $('#sub_menu_kat').attr('class', 'active open');
//            $(":input").inputmask();
        loadForm();
    });
</script>
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> Line Inputs <?php echo $pageName; ?></span>
        </div>
        <!--            <div class="actions">-->
        <!--                <div class="btn-group">-->
        <!--                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions-->
        <!--                        <i class="fa fa-angle-down"></i>-->
        <!--                    </a>-->
        <!--                    <ul class="dropdown-menu pull-right">-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;">-->
        <!--                                <i class="fa fa-pencil"></i> Edit </a>-->
        <!--                        </li>-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;">-->
        <!--                                <i class="fa fa-trash-o"></i> Delete </a>-->
        <!--                        </li>-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;">-->
        <!--                                <i class="fa fa-ban"></i> Ban </a>-->
        <!--                        </li>-->
        <!--                        <li class="divider"></li>-->
        <!--                        <li>-->
        <!--                            <a href="javascript:;"> Make admin </a>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
    <div class="portlet-body form">
        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
            <div class="form-body">
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Category</label>
                    <input type="hidden" id="id" name="id">
                    <?php  echo $this->tag->select(array("id_kategori",
                        Kategori::find(),
                        "useEmpty"  =>  true,
                        "emptyText" =>  "Please select",
                        "using" => array("id", "nama"),
                        "class" => "form-control",
                        "onchange" =>"onchangeCategory(this,'#id_vendor')"
                    ));
                    ?>
                </div>
                <div class="form-group form-md-line-input has-info">
                    <label for="form_control_1">Vendor</label>
                    <select class="form-control" id="id_vendor" name="id_vendor">
                        <option value="">Please select</option>
                    </select>
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Name</label>
                    <input type="text" data-role="text" class="form-control" id="nama" name="nama" placeholder="Enter your name">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Price</label>
                    <input type="text" data-role="text" class="form-control" id="harga" name="harga" placeholder="Enter your Price">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Total</label>
                    <input type="number" data-role="text" class="form-control" id="jumlah" name="jumlah" placeholder="Enter your Total">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Description</label>
                    <input type="text" data-role="text" class="form-control" id="deskripsi" name="deskripsi" placeholder="Enter your Deskription">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>
                <div class="form-group form-md-line-input">
                    <label for="form_control_1">Status</label>
                    <input type="text" data-role="text" class="form-control" id="status" name="status" placeholder="Enter your Status">
                    <!--                        <span class="help-block">Some help goes here...</span>-->
                </div>

            </div>
            <div class="form-actions noborder">
                <button type="button" class="btn blue" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                <button type="button" class="btn default" onclick="goToList()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->


<?php $this->partial("layouts/admin_layout/footer"); ?>
