<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_jadwal_shift/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_jadwal_shift/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nama</th>
            <th>Mulai</th>
            <th>Str Of Mulai</th>
            <th>Selesai</th>
            <th>Str Of Selesai</th>
            <th>Date Of Created</th>
            <th>Date Of Update</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_jadwal_shift) { ?>
        <tr>
            <td><?php echo $str_jadwal_shift->id ?></td>
            <td><?php echo $str_jadwal_shift->nama ?></td>
            <td><?php echo $str_jadwal_shift->mulai ?></td>
            <td><?php echo $str_jadwal_shift->str_mulai ?></td>
            <td><?php echo $str_jadwal_shift->selesai ?></td>
            <td><?php echo $str_jadwal_shift->str_selesai ?></td>
            <td><?php echo $str_jadwal_shift->date_created ?></td>
            <td><?php echo $str_jadwal_shift->date_update ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal_shift/edit/" . $str_jadwal_shift->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal_shift/delete/" . $str_jadwal_shift->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_jadwal_shift/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_shift/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_shift/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_shift/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
