<?php $this->partial("layouts/admin_layout/header"); ?>
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
    <script>
        function goToList() {
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/load?id=<?php echo $idKegiatan; ?>";
        }
        function loadForm(){
            var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
            FormLoadByUrlJson(url,"formData");
        }
        function showResponse(response, statusText, xhr, $form)  {
            response = parseJson(response);
            if(response.isSuccess){
                goToList();
            }else{
                showModalError(response.message);
            }
        }
        function showRequest(formData, jqForm, options) {

            return true;
        }
        var validateForm = {
            rules: {
                name_of_file: {
                    required: true
                }
            },
            messages: {
                name_of_file: {
                    required: "Please upload Image first"
                }
            }
        };
        var optionsForm = {
            dataType:  'json',
            beforeSubmit:  showRequest,
            success: showResponse
        };
        function submitForm(){
            $("#formData").validate(validateForm);
            $('#formData').ajaxForm(optionsForm);
            $('#formData').submit();
        }
        function filenameProfileImage() {
            var filename = document.forms["formData"].elements["detailfile"];
            var name_of_file = document.forms["formData"].elements["name_of_file"];

            if (name_of_file.length == undefined) {
                name_of_file.value = filename.value;

            } else {
                for (var i = 0, len = filename.length; i < len; i++) {
                    name_of_file[i].value = filename[i].value;
                }
            }
        }
        $(document).ready(function () {
            $('#menu_produk').attr('class', 'active open');
            $('#sub_menu_kat').attr('class', 'active open');
//            $(":input").inputmask();
            loadForm();
        });
    </script>
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase"> Line Inputs <?php echo $pageName; ?></span>
            </div>
<!--            <div class="actions">-->
<!--                <div class="btn-group">-->
<!--                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions-->
<!--                        <i class="fa fa-angle-down"></i>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu pull-right">-->
<!--                        <li>-->
<!--                            <a href="javascript:;">-->
<!--                                <i class="fa fa-pencil"></i> Edit </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="javascript:;">-->
<!--                                <i class="fa fa-trash-o"></i> Delete </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="javascript:;">-->
<!--                                <i class="fa fa-ban"></i> Ban </a>-->
<!--                        </li>-->
<!--                        <li class="divider"></li>-->
<!--                        <li>-->
<!--                            <a href="javascript:;"> Make admin </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
        </div>
<!--        <div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="col-md-6 responsive-1024">-->
<!--                    <img src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jcrop/demos/demo_files/image3.jpg" id="demo3" alt="Jcrop Example" /> </div>-->
<!--                <div class="col-md-6 responsive-1024">-->
<!--                    <div id="preview-pane">-->
<!--                        <div class="preview-container">-->
<!--                            <img src="--><?php //p_assets_url(); ?><!--/metronic/assets/global/plugins/jcrop/demos/demo_files/image3.jpg" class="jcrop-preview" alt="Preview" /> </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="portlet-body form">
            <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>" enctype="multipart/form-data">
                <div class="form-body">
                    <div class="panel-body">
                        <input type="hidden" name="id_kegiatan" value="<?php echo $idKegiatan; ?>">
                        <div class="col-sm-1 col-xs-1">
                            <span class="btn btn-primary btn-file">Upload
                            <input type="file" name="detailfile" class="upload" onchange="filenameProfileImage()">
                                </span>
                        </div>
                        <div class="col-sm-9 col-xs-9">
                            <input class="form-control" type="text" id="name_of_file" name="name_of_file" style="height:32px">
                        </div>
                    </div>
                </div>
                <div class="form-actions nobord">
                    <button type="button" class="btn blue" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                    <button type="button" class="btn default" onclick="goToList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->


<?php $this->partial("layouts/admin_layout/footer"); ?>
