
<?php echo $this->getContent(); ?>

<?php echo $this->tag->form("str_jadwal/save") ?>

<table width="100%">
    <tr>
        <td align="left"><?php echo $this->tag->linkTo(array("str_jadwal", "Back")) ?></td>
        <td align="right"><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

<div align="center">
    <h1>Edit str_jadwal</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="lokasi">Lokasi</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("lokasi", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="alamat">Alamat</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("alamat", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="tgl_laksana">Tgl Of Laksana</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("tgl_laksana", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="str_tgl">Str Of Tgl</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("str_tgl", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="str_bulan">Str Of Bulan</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("str_bulan", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="str_thn">Str Of Thn</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("str_thn", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="id_jadwal_tipe">Id Of Jadwal Of Tipe</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id_jadwal_tipe", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_update">Date Of Update</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_update", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td><?php echo $this->tag->hiddenField("id") ?></td>
        <td><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

</form>
