<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_jadwal/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_jadwal/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Lokasi</th>
            <th>Alamat</th>
            <th>Tgl Of Laksana</th>
            <th>Str Of Tgl</th>
            <th>Str Of Bulan</th>
            <th>Str Of Thn</th>
            <th>Id Of Jadwal Of Tipe</th>
            <th>Date Of Created</th>
            <th>Date Of Update</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_jadwal) { ?>
        <tr>
            <td><?php echo $str_jadwal->id ?></td>
            <td><?php echo $str_jadwal->lokasi ?></td>
            <td><?php echo $str_jadwal->alamat ?></td>
            <td><?php echo $str_jadwal->tgl_laksana ?></td>
            <td><?php echo $str_jadwal->str_tgl ?></td>
            <td><?php echo $str_jadwal->str_bulan ?></td>
            <td><?php echo $str_jadwal->str_thn ?></td>
            <td><?php echo $str_jadwal->id_jadwal_tipe ?></td>
            <td><?php echo $str_jadwal->date_created ?></td>
            <td><?php echo $str_jadwal->date_update ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal/edit/" . $str_jadwal->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal/delete/" . $str_jadwal->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_jadwal/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
