
<?php echo $this->getContent() ?>

<div align="right">
    <div class="input-field col s12">
        <a href="<?php p_base_url(); ?>/str_jadwal_tipe/new"
           class="btn-floating btn-move-up waves-effect waves-light darken-2 right">
            <i class="mdi-content-add activator"></i>
        </a>
    </div>
    <script>
        function addNewBusinessDivision(){
            <?php echo $this->tag->linkTo(array("str_jadwal_tipe/new", "Create str_jadwal_tipe")) ?>
        }
    </script>
</div>

<?php echo $this->tag->form(array("str_jadwal_tipe/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search str_jadwal_tipe</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="nama">Nama</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("nama", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jml_jantan">Jml Of Jantan</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jml_jantan", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="jml_betina">Jml Of Betina</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("jml_betina", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_update">Date Of Update</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_update", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>
