<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_jadwal_tipe/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_jadwal_tipe/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nama</th>
            <th>Jml Of Jantan</th>
            <th>Jml Of Betina</th>
            <th>Date Of Created</th>
            <th>Date Of Update</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_jadwal_tipe) { ?>
        <tr>
            <td><?php echo $str_jadwal_tipe->id ?></td>
            <td><?php echo $str_jadwal_tipe->nama ?></td>
            <td><?php echo $str_jadwal_tipe->jml_jantan ?></td>
            <td><?php echo $str_jadwal_tipe->jml_betina ?></td>
            <td><?php echo $str_jadwal_tipe->date_created ?></td>
            <td><?php echo $str_jadwal_tipe->date_update ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal_tipe/edit/" . $str_jadwal_tipe->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_jadwal_tipe/delete/" . $str_jadwal_tipe->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_jadwal_tipe/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_tipe/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_tipe/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_jadwal_tipe/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
