<?php $this->partial("layouts/admin_layout/header"); ?>
<script>
    $(document).ready(function () {
        $('#sub_menu_kegiatan').attr('class', 'active open');
    });
</script>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <?php $this->partial("layouts/admin_layout/content_breadcrumb", ["isDashboard"=>false, "myPage"=>$pageName]); ?>
    </ul>
</div>
<!-- END PAGE HEADER-->
<?php $this->partial("layouts/admin_layout/footer"); ?>
