<?php $this->partial("layouts/admin_layout/header"); ?>
<script>
    $(document).ready(function () {
        $('#sub_menu_produk').attr('class', 'active open');
    });
</script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <?php $this->partial("layouts/admin_layout/content_breadcrumb", ["isDashboard" => false, "myPage" => $pageName]); ?>
    </ul>
</div>
<!-- END PAGE HEADER-->

<div class="portfolio-content portfolio-1">
    <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn dark btn-outline uppercase"> All
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".bow_recurve" class="cbp-filter-item btn dark btn-outline uppercase"> Recurve
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".bow_compound" class="cbp-filter-item btn dark btn-outline uppercase"> Compound
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".arrows" class="cbp-filter-item btn dark btn-outline uppercase"> Arrows
            <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".logos" class="cbp-filter-item btn dark btn-outline uppercase"> Logo
            <div class="cbp-filter-counter"></div>
        </div>
    </div>

    <div id="js-grid-juicy-projects" class="cbp">
        <?php $this->partial("admin/dashboard/produk_items", ["itemKe"=> 0]); ?>
    </div>

    <div id="js-loadMore-juicy-projects" class="cbp-l-loadMore-button">
        <a href="<?php p_base_url(); ?>/admin/dashboard/loadMore"
           class="cbp-l-loadMore-link btn grey-mint btn-outline" rel="nofollow">
            <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
            <span class="cbp-l-loadMore-loadingText">LOADING...</span>
            <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
        </a>
    </div>
</div>

<?php $this->partial("layouts/admin_layout/footer"); ?>
