<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_user/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_user/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Of Name</th>
            <th>Date Of Created</th>
            <th>Date Of Update</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_user) { ?>
        <tr>
            <td><?php echo $str_user->id ?></td>
            <td><?php echo $str_user->full_name ?></td>
            <td><?php echo $str_user->date_created ?></td>
            <td><?php echo $str_user->date_update ?></td>
            <td><?php echo $this->tag->linkTo(array("str_user/edit/" . $str_user->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_user/delete/" . $str_user->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_user/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_user/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_user/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_user/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
