<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <a href="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/1.jpg" class="cbp-lightbox">
                        <img src="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/33.jpg" alt=""> </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/02.jog" class="cbp-lightbox">
                        <img src="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/34.jpg" alt=""> </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/3.jpg" class="cbp-lightbox">
                        <img src="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/26.jpg" alt=""> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">World Clock Widget</div>
        <div class="cbp-l-inline-subtitle">by Paul Flavius Nechita</div>
        <div class="cbp-l-inline-desc">Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis
            officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</div>
        <a href="#" target="_blank" class="cbp-l-inline-view btn blue btn-outline">VIEW PROJECT</a>
    </div>
</div>