<div class="portfolio-content">
    <div class="cbp-l-project-title">Arrow Easton</div>
    <div class="cbp-l-project-subtitle">by Kings Archery</div>
    <div class="cbp-slider">
        <ul class="cbp-slider-wrap">
            <li class="cbp-slider-item">
                <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_product.'/'.$imgProduct; ?>" class="cbp-lightbox">
                    <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_product.'/'.$imgProduct; ?>" alt=""> </a>
            </li>
            <li class="cbp-slider-item">
                <a href="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_product.'/'.$imgProduct; ?>" class="cbp-lightbox">
                    <img src="<?php p_assets_url(); ?>/_img/product/<?php echo $cat_product.'/'.$imgProduct; ?>" alt=""> </a>
            </li>
            <li class="cbp-slider-item">
                <a href="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/77.jpg" class="cbp-lightbox">
                    <img src="<?php p_assets_url(); ?>/metronic/assets/global/img/portfolio/600x600/77.jpg" alt=""> </a>
            </li>
        </ul>
    </div>
    <div class="cbp-l-project-container">
        <div class="cbp-l-project-desc">
            <div class="cbp-l-project-desc-title">
                <span>Project Description</span>
            </div>
            <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem
                voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut
                ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
        </div>
        <div class="cbp-l-project-details">
            <div class="cbp-l-project-details-title">
                <span>Project Details</span>
            </div>
            <ul class="cbp-l-project-details-list">
                <li>
                    <strong>Client</strong>John Doe</li>
                <li>
                    <strong>Date</strong>22 December 2013</li>
                <li>
                    <strong>Categories</strong>Logo, Graphic</li>
            </ul>
            <a href="#" target="_blank" class="cbp-l-project-details-visit btn red uppercase">visit the site</a>
        </div>
    </div>
    <div class="cbp-l-project-container">
        <div class="cbp-l-project-related">
            <div class="cbp-l-project-desc-title">
                <span>Related Product</span>
            </div>
            <ul class="cbp-l-project-related-wrap">
                <li class="cbp-l-project-related-item">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail"
                       class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                        <img src="<?php p_assets_url(); ?>/_img/product/coming_soon.jpg" alt="">
                        <div class="cbp-l-project-related-title">Arrow</div>
                    </a>
                </li>
                <li class="cbp-l-project-related-item">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail2"
                       class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                        <img src="<?php p_assets_url(); ?>/_img/product/coming_soon.jpg" alt="">
                        <div class="cbp-l-project-related-title">Arrow</div>
                    </a>
                </li>
                <li class="cbp-l-project-related-item">
                    <a href="<?php p_base_url(); ?>/admin/dashboard/showDetail"
                       class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                        <img src="<?php p_assets_url(); ?>/_img/product/coming_soon.jpg" alt="">
                        <div class="cbp-l-project-related-title">Arrow</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>