<?php $this->partial("layouts/header") ?>

<div align="right">
    <?php echo $this->tag->linkTo(array("admin/str_role/new", "Create str_role")) ?>
</div>

<?php echo $this->tag->form(array("admin/str_role/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search str_role</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="nama">Nama</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("nama", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="kode_role">Kode Of Role</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("kode_role", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_updated">Date Of Updated</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_updated", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>

<?php $this->partial("layouts/footer") ?>