
<?php echo $this->getContent() ?>

<div align="right">
    <?php echo $this->tag->linkTo(array("str_registrasi/new", "Create str_registrasi")) ?>
</div>

<?php echo $this->tag->form(array("str_registrasi/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search str_registrasi</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="id_acc">Id Of Acc</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id_acc", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="id_jadwal">Id Of Jadwal</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id_jadwal", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="no_reg">No Of Reg</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("no_reg", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="qrcode">Qrcode</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("qrcode", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="sts_bayar">Sts Of Bayar</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("sts_bayar", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="sts_aktif">Sts Of Aktif</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("sts_aktif", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_created">Date Of Created</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_created", "size" => 30)) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="date_update">Date Of Update</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("date_update", "size" => 30)) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>
