.eg-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.eg-main {
 
  max-height: 480px;
  margin-bottom: 30px;
}

.eg-wrapper {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  box-shadow: inset 0 0 3px #f7f7f7;
  height: 360px;
  width: 550px;
  overflow: hidden;
}
@media screen and (min-width: 254px) and (max-width: 350px){
  .eg-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 210px;
  width: 220px;
}
  }
  @media screen and (min-width: 351px) and (max-width:390px){
  .eg-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 221px;
  width: 270px;
}
  }
    @media screen and (min-width: 391px) and (max-width:479px){
  .eg-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 251px;
  width: 270px;
}
  }
 
  @media screen and (min-width: 480px) and (max-width: 640px){
  .eg-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 285px;
  width: 380px;
}
  }

  @media screen and (min-width: 641px) and (max-width: 900px){
  .eg-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 285px;
  width: 480px;
}
  }

.eg-wrapper img {
  width: 100%;
}

.eg-preview {
  margin-bottom: 15px;
}

.preview {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background: #f7f7f7;
}

.preview-lg {
  width: 290px;
  height: 160px;
}

.preview-md {
  width: 145px;
  height: 90px;
}

.preview-sm {
  width: 72.5px;
  height: 45px;
}

.preview-xs {
  width: 36.25px;
  height: 22.5px;
}

.eg-data {
  padding-right: 15px;
}

.eg-data .input-group {
  width: 100%;
  margin-bottom: 15px;
}

.eg-data .input-group-addon {
  min-width: 65px;
}

.eg-button > .btn {
  margin-right: 15px;
  margin-bottom: 15px;
}

.eg-input .input-group {
  margin-bottom: 15px;
}

.eg-output .btn {
  margin-right: 15px;
  margin-bottom: 15px;
}

.eg-output img {
  max-height: 214px;
}
