

.eg-wrapper {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  box-shadow: inset 0 0 3px #f7f7f7;
  height: 260px;
  width: 320px;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
}
