<?php $this->partial("layouts/admin_layout/header"); ?>
    <script>
        function goToNew(){
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
        }
        $(document).ready(function () {
            $('#menu_produk').attr('class', 'active open');
            $('#sub_menu_mkegiatn').attr('class', 'active open');
            //=================================================
            $('#grid').dataTable({
                "searching": false,
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                "columns": [
                    { "data": "index", "render": function ( data, type, row ) {
                        return "<input type='checkbox' class='checkboxes' value='1' />";}
                    },
                    { "data": "nama1", "render": function ( data, type, row ) { return data;}  },
                    { "data": "nama2", "render": function ( data, type, row ) { return data;}  },
                ]
            });//end grdi
        });
    </script>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <?php $this->partial("layouts/admin_layout/content_breadcrumb",
                ["isDashboard" => false, "myPage" => $pageName]); ?>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn sbold green" onclick="goToNew()"> Add New
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"
                           data-order='[[ 1, "asc" ]]'
                           data-page-length='10'
                           id="grid">
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="group-checkable" data-set="#grid .checkboxes"/></th>
                            <th> nama1</th>
                            <th> nama2</th>
                        </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

<?php $this->partial("layouts/admin_layout/footer"); ?>