<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("str_account/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("str_account/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id Of Role</th>
            <th>Id Of User</th>
            <th>Username</th>
            <th>Password</th>
            <th>Sts Of Aktif</th>
            <th>Date Of Created</th>
            <th>Date Of Updated</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $str_account) { ?>
        <tr>
            <td><?php echo $str_account->id ?></td>
            <td><?php echo $str_account->id_role ?></td>
            <td><?php echo $str_account->id_user ?></td>
            <td><?php echo $str_account->username ?></td>
            <td><?php echo $str_account->password ?></td>
            <td><?php echo $str_account->sts_aktif ?></td>
            <td><?php echo $str_account->date_created ?></td>
            <td><?php echo $str_account->date_updated ?></td>
            <td><?php echo $this->tag->linkTo(array("str_account/edit/" . $str_account->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("str_account/delete/" . $str_account->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("str_account/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("str_account/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("str_account/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("str_account/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
