<li>
    <i class="icon-home"></i>
    <a href="<?php p_base_url() ?>/admin/dashboard/index">Dashboard</a>
    <i class="fa fa-angle-right"></i>
</li>
<?php if(!$isDashboard): ?>
<li>
    <span><?php echo $myPage ?></span>
</li>
<?php endif ?>