</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 2016 &copy; Kings Archery Sport.
        <a href="http://www.kingsarcherysport.com"
           title="Find your Archery Equipment" target="_blank">Buy Your Equipment Now!</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN CORE PLUGINS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery.min.js"
        type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/js.cookie.min.js"
        type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
    type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery.blockui.min.js"
        type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/uniform/jquery.uniform.min.js"
        type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
    type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"
    type="text/javascript"></script>
<script
    src="<?php p_assets_url(); ?>/metronic/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js"
    type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/global/scripts/app.min.js"
        type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/pages/scripts/form-fileupload.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/scripts/layout.min.js"
        type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/layouts/layout2/scripts/demo.min.js"
        type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/metronic/assets/layouts/global/scripts/quick-sidebar.min.js"
        type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>