<?php $this->partial("layouts/admin_layout/header"); ?>

    <script>
        function goToList() {
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/load";
        }
        function loadForm(){
            var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
            FormLoadByUrlJson(url,"formData");
        }
        function showResponse(response, statusText, xhr, $form)  {
            response = parseJson(response);
            if(response.isSuccess){
                goToList();
            }else{
                showModalError(response.message);
            }
        }
        function showRequest(formData, jqForm, options) {

            return true;
        }
        var validateForm = {
            rules: {
                id_kategori: {
                    required: true
                },
                nama: {
                    required: true
                }
            },
            messages: {
                id_kategori: {
                    required: "Please select a Category"
                },
                nama: {
                    required: "Please enter a Name"
                }
            }
        };
        var optionsForm = {
            dataType:  'json',
            beforeSubmit:  showRequest,
            success: showResponse
        };
        function submitForm(){
            $("#formData").validate(validateForm);
            $('#formData').ajaxForm(optionsForm);
            $('#formData').submit();
        }
        $(document).ready(function () {
            $('#menu_produk').attr('class', 'active open');
            $('#sub_menu_kat').attr('class', 'active open');
//            $(":input").inputmask();
            loadForm();
        });
    </script>
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase"> Line Inputs <?php echo $pageName; ?></span>
            </div>
<!--            <div class="actions">-->
<!--                <div class="btn-group">-->
<!--                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions-->
<!--                        <i class="fa fa-angle-down"></i>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu pull-right">-->
<!--                        <li>-->
<!--                            <a href="javascript:;">-->
<!--                                <i class="fa fa-pencil"></i> Edit </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="javascript:;">-->
<!--                                <i class="fa fa-trash-o"></i> Delete </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="javascript:;">-->
<!--                                <i class="fa fa-ban"></i> Ban </a>-->
<!--                        </li>-->
<!--                        <li class="divider"></li>-->
<!--                        <li>-->
<!--                            <a href="javascript:;"> Make admin </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="portlet-body form">
            <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
                <div class="form-body">
                    <div class="form-group form-md-line-input">
                        <label for="form_control_1">Category</label>
                        <input type="hidden" id="id" name="id">
                        <?php  echo $this->tag->select(array("id_kategori",
                            Kategori::find(),
                            "useEmpty"  =>  true,
                            "emptyText" =>  "Please select",
                            "using" => array("id", "nama"),
                            "class" => "form-control"
                        ));
                        ?>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label for="form_control_1">Name</label>
                        <input type="text" data-role="text" class="form-control" id="nama" name="nama" placeholder="Enter your name">
<!--                        <span class="help-block">Some help goes here...</span>-->
                    </div>
<!--                    <div class="form-group form-md-line-input">-->
<!--                        <input type="text" class="form-control" id="form_control_1" placeholder="Enter your email">-->
<!--                        <label for="form_control_1">Input with help</label>-->
<!--                        <span class="help-block">Some help goes here...</span>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-success">-->
<!--                        <input type="text" class="form-control" id="form_control_1" placeholder="Success state">-->
<!--                        <label for="form_control_1">Success input</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-warning">-->
<!--                        <input type="text" class="form-control" id="form_control_1" placeholder="Warning state">-->
<!--                        <label for="form_control_1">Warning input</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-error">-->
<!--                        <input type="text" class="form-control" id="form_control_1" placeholder="Error state">-->
<!--                        <label for="form_control_1">Error input</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-info">-->
<!--                        <input type="text" class="form-control" id="form_control_1" placeholder="Info state">-->
<!--                        <label for="form_control_1">Info input</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-info">-->
<!--                        <select class="form-control" id="form_control_1">-->
<!--                            <option value=""></option>-->
<!--                            <option value="1">Option 1</option>-->
<!--                            <option value="2">Option 2</option>-->
<!--                            <option value="3">Option 3</option>-->
<!--                            <option value="4">Option 4</option>-->
<!--                        </select>-->
<!--                        <label for="form_control_1">Dropdown sample</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input">-->
<!--                        <textarea class="form-control" rows="3" placeholder="Enter more text"></textarea>-->
<!--                        <label for="form_control_1">Textarea input</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-error">-->
<!--                        <input type="text" class="form-control" disabled id="form_control_1" placeholder="Disable">-->
<!--                        <label for="form_control_1">Disabled</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-error">-->
<!--                        <input type="text" class="form-control" readonly value="You can't edit this" id="form_control_1">-->
<!--                        <label for="form_control_1">Readonly</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input">-->
<!--                        <div class="form-control form-control-static"> email@example.com</div>-->
<!--                        <label for="form_control_1">Static Control</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-info">-->
<!--                        <input type="text" class="form-control input-sm" id="form_control_1" placeholder=".input-sm">-->
<!--                        <label for="form_control_1">Small input</label>-->
<!--                    </div>-->
<!--                    <div class="form-group form-md-line-input has-info">-->
<!--                        <input type="text" class="form-control input-lg" id="form_control_1" placeholder=".input-lg">-->
<!--                        <label for="form_control_1">Large input</label>-->
<!--                    </div>-->
                </div>
                <div class="form-actions noborder">
                    <button type="button" class="btn blue" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                    <button type="button" class="btn default" onclick="goToList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->


<?php $this->partial("layouts/admin_layout/footer"); ?>
